body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card:hover {
    box-shadow: 5px 5px 10px -3px #000;
}

.card {
    flex: 1 1 21em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: normal;
}

.card img {
    width: 100%;
    height: 28em;
}

@media screen and (max-width:900px) {
    .card img {
        width: 100%;
        height: 24em;
    }
}

@media screen and (max-width:500px) {
    .card img {
        width: 100%;
        height: 18em;
    }
}

@media screen and (max-width:350px) {
    .card h5 {
        display: none;
    }
    .card img {
        width: 100%;
        height: 08em;
    }
}